<div class="dialog-content" mat-dialog-content>
  <h2>Enter a bid (&euro;)</h2>
  <mat-form-field>
    <input #bidInput type="number" min="data.item.biddingMinimum" matInput value="{{data.bids.length > 0 ? data.bids[0]?.amount + 1 : data.item.biddingMinimum }}">
  </mat-form-field>
  <button (click)="placeBid()" mat-stroked-button>Place bid</button>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Close</button>
</div>
