.actions {
  display: flex;
  justify-content: flex-end;
}

.dialog-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    text-align: center;
  }

  mat-form-field {
    width: 80%;
    margin-left: 30px;
    text-align: center;
  }

  button {
    width: 80%;
    margin-left: 30px;
  }
}
