<app-loading *ngIf="!filtersLoaded || isLoading" [overlay]="setOverlay"></app-loading>
<div class="main" *ngIf="filtersLoaded | async">
  <div class="top-part">
    <button routerLink="/" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
    <button mat-icon-button class="mat-background-primary" (click)="startCreatingItem()"><mat-icon>add</mat-icon></button>
    <h2>Personal Overview</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <a (click)="startCreatingItem()" *ngIf="items.length === 0">Create your first item now!</a>
    <mat-card *ngFor="let item of items" class="example-card">
      <div class="img">
        <img mat-card-image src="{{item.image.length > 0 ? resourceUrl + item.image[0].name : ''}}" alt="Photo of a Shiba Inu">
        <div *ngIf="item.sold" id="inner-box"></div>
      </div>
      <h2>{{item.title}}</h2>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <button routerLink="/item/{{item.id}}" mat-button>View</button>
        <button class="mat-accent" mat-stroked-button (click)="openBottomSheet($event)">Actions</button>
        <input type="hidden" value="{{item.id}}">
      </mat-card-actions>
    </mat-card>
  </div>
</div>
