@media only screen and (max-width: 985px) {
  .example-card {
    grid-template-columns: auto !important;
    grid-template-rows: 3fr 1fr 1fr;
    max-height: none !important;
    img {
      grid-row: 1;
      min-width: 300px;
    }

    h2 {
      grid-row: 2;
    }

    mat-card-actions {
      grid-row: 3;
    }
  }

  .top-part {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button:nth-child(2) {
      margin-right: 25px;
    }
  }
}

@media screen and (min-width: 900px) {
  .top-part {
    h2 {
      top: 12px !important;
      font-size: 25px !important;
    }
  }
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 80px 0 auto;
  margin-bottom: 100px;

  .top-part {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 80px;
    position: relative;

    button {
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 25px;
    }

    h2 {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 15px;
      font-size: 20px;
      z-index: -5;
    }
  }

  mat-divider {
    grid-column-start: 1;
    grid-column-end: 4;
    height: auto;
  }

  .content {
    margin-top: 25px;
    min-width: 300px;
    align-self: center;
    grid-column: 2;

    a {
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      display: block;
      margin-top: 100px;
    }

    .example-card {
      width: 100%;
      min-width: 300px;
      padding: 0;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 285px;
      grid-template-rows: auto;

      .img {
        width: 100%;
        height: 100%;
        position: relative;

        #inner-box {
          background-image: url('../../../assets/icons/sold-overlay.png');
          background-size: contain;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          opacity: 0.9;
          top: 0;
          left: 0;
          position: absolute;
          padding: 0;
          transition: opacity .5s;
          z-index: 998;
        }
      }

      mat-card-actions {
        height: 60px;
        padding: 0;
        grid-column: span 2;
        display: flex;
        justify-content: flex-end;

        button {
          margin-top: 10px;
          margin-bottom: 15px;
          margin-right: 15px;
        }
      }

      h2 {
        margin-left: 10px;
        font-size: 25px !important;
      }

      img {
        margin: 0;
        width: 100%;
        height: 170px;
        object-fit: scale-down;
        border-right: 1px solid #EEEEEE;
        background-color: #EEEEEE;
      }
    }
  }
}
