<app-alert></app-alert>
<app-fs-loading></app-fs-loading>
<div class="container">
    <div class="menu-container" [class.example-is-mobile]="mobileQuery.matches">
      <mat-toolbar color="primary" class="menu-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 (click)="closeMenu('/')" class="app-name">IBay</h1>
      </mat-toolbar>

      <mat-sidenav-container class="menu-sidenav-container"
                             [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav mode="over"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list class="menu-sidenav-list">
            <mat-card class="menu-header">
              <div mat-card-avatar class="">
                <ngx-avatar *ngIf="user" gravatarId="{{user.email}}" size="40" src="../assets/icons/no-image-available.png"></ngx-avatar>
              </div>
              <a *ngIf="!loggedIn" (click)="closeMenu('/login') ">Sign in?</a>
              <button class="profile-btn" *ngIf="loggedIn"(click)="switchArrow()" mat-button [matMenuTriggerFor]="menu">
                {{user.fname}} {{user.name}}
                <span #arrowSpan>&#9660;</span>
              </button>
              <mat-menu #menu="matMenu" (closed)="switchArrow()">
                <button mat-menu-item (click)="logout()">Logout</button>
              </mat-menu>
            </mat-card>
            <a (click)="closeMenu('')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-list-item>Home</a>
            <a *ngIf="loggedIn" mat-list-item (click)="closeMenu('/item/user/' + user.id)">Personal Overview</a>
            <a *ngIf="loggedIn" mat-list-item (click)="closeMenu('/item/user/'+ user.id + '/favorites')">My Favorites</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <div><router-outlet></router-outlet></div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  <footer>
    <mat-divider></mat-divider>
    <div>
      <h2>©2019 - Sam Vanwelsenaere</h2>
    </div>
  </footer>
</div>
