.active {
  font-weight: bold;
}

app-alert {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-is-mobile .menu-toolbar {
  position: fixed;
  //!* Make sure the toolbar will stay on top of the content as it scrolls past. *!
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
  cursor: pointer;
}

.menu-sidenav-container {
  //!* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    // causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. *!
  flex: 1;
}

.menu-sidenav-list {
  width: 250px;
}

.menu-header {
  display: flex;
  line-height: 40px;

  .menu-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-bottom: 10px;
    display: inline-block;
  }

  a {
    display: inline-block;
    text-align: center;
    width: 100px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-btn {
  margin-left: 10px;
}

.rotate {
  transition: all 0.4s ease;
  transform: rotateZ(-90deg);
}

mat-sidenav {
  margin-right: 56px;
}

mat-sidenav-content {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x:hidden;
  min-height: 90vh;

  div {
    grid-row: 1;
    overflow: visible;
  }
}

footer {
  text-align: center;
  line-height: 50px;
  background-color: rgb(156, 204, 101);
  width:100%;
  z-index: 999;

  position:absolute;
  bottom:0;

  h2 {
    font-size: 14px;
    font-weight: normal;
  }
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.container {
  min-height:100vh;
  position:relative;
  background-color: #fafafa;
}

.content {
  height: 100%;
}

/*:host {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 50px;
  width: 100%;
  height: calc(100vh - 50px);

  #menu {
    grid-row: 1;
    //line-height: 50px;
  }

  #router {
    grid-row: 2;
    width: 100%;
    height: 100%;
  }

  footer {
    grid-row: 3;
    text-align: center;
    line-height: 50px;
    background-color: #EEEEEE;

    h2 {
      font-size: 14px;
      font-weight: normal;
    }
  }
}*/


