<div class="dialog-container">
  <div  class="dialog-content-inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createForm">
      <h2>Description</h2>
      <div id="editor">
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>
    </form>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <div>
      <button mat-button (click)="previous()">Previous</button>
      <button type="submit" class="mat-accent" mat-stroked-button cdkFocusInitial [disabled]="!form.valid" form="createForm">Next</button>
    </div>
  </div>
</div>
