h2 {
  text-align: center;
}

form {
  width: 208px;

  * {
    width: 100%;
    margin-bottom: 5px;
  }
}

.editor {max-height: 60vh;}

#actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (min-width: 375px) {
  form {
    width: 252px;
  }
}

@media screen and (min-width: 425px) {
  form {
    width: 292px;
  }
}

@media screen and (min-width: 768px) {
  form {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 400px;
  }
}
