<div *ngIf="filtersLoaded | async" class="container">
  <div class="top-part">
    <button (click)="back()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
  </div>
  <mat-card>
    <h2>Recover password</h2>
    <p>In case you have forgotten your password, we will send a recovery mail.</p>
    <form [formGroup]="mailForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <div>
        <button class="mat-accent" #submit [disabled]="!mailForm.valid" type="submit" mat-stroked-button >
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i><span *ngIf="!isLoading">Send Mail</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
<app-loading *ngIf="!filtersLoaded"></app-loading>
