<div class="dialog-container">
  <div  class="dialog-content-inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createForm">
      <h2>Images (.jpg or .png)</h2>
      <div class="container">
        <input (change)="onFileChange($event)" type="file" ng2FileSelect [uploader]="uploader" multiple  >
        <h3 *ngIf="data.item && data.item.image && data.item.image.length > 0 && data.item.image[0].nameOnly !== 'pexels-photo.jpg'" >
          Current files: {{ data.item.image.length }}
        </h3>
        <ul *ngIf="data.item && data.item.image && data.item.image.length > 0 && data.item.image[0].nameOnly !== 'pexels-photo.jpg'">
          <li *ngFor="let img of data.item.image">
            <p>{{ img.nameOnly }}</p><p class="link" (click)="removeFromServer(img.id, $event)"><mat-icon >close</mat-icon></p>
          </li>
        </ul>
        <h3>Your files: {{ uploader?.queue?.length }}</h3>
        <ul>
          <li *ngFor="let item of uploader.queue">
            <p>{{ item?.file?.name }}</p><p class="link" (click)="uploader.removeFromQueue(item)"><mat-icon >close</mat-icon></p>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <div>
      <button mat-button (click)="previous()">Previous</button>
      <button type="submit" class="mat-accent" mat-stroked-button cdkFocusInitial [disabled]="!form.valid" form="createForm">Finish</button>
    </div>
  </div>
</div>
