<div *ngIf="message" [ngClass]="{ 'w3-animate-top': !closing, 'closed': closing, 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
  {{message.text}}<mat-icon (click)="removeAlert()">close</mat-icon>
</div>
