.alert-danger {
  background-color: #f44336; /* Red */
}
.alert-success {
  background-color: #4BB543;
}
.alert{
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
  min-width: 100vw;

  mat-icon {
    font-size: 21px;
    position: relative;
    top: 4px;
    margin-left: 5px;
  }
}

.closed {
  animation: 0.75s  0s 1 slideInFromBottom forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}
