<div *ngIf="filtersLoaded | async" class="container">
  <mat-card>
    <h2>Recover account</h2>
    <form [formGroup]="tokenForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group-divider">
        <input type="password" matInput placeholder="Enter new password" formControlName="password" required>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-group-divider">
        <input type="password" matInput placeholder="Confirm new password" formControlName="confirmPassword" required>
        <mat-error *ngIf="passwordC.invalid">{{getPasswordCErrorMessage()}}</mat-error>
      </mat-form-field>
      <div>
        <button class="mat-accent" #submit [disabled]="!tokenForm.valid" type="submit" mat-stroked-button >
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i><span *ngIf="!isLoading">Reset password</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
<app-loading *ngIf="!filtersLoaded"></app-loading>
