<mat-nav-list>
  <a *ngIf="data.sold" mat-list-item (click)="notSold($event)">
    <span mat-line>Make available</span>
    <span mat-line>This item was marked as sold.</span>
  </a>

  <a *ngIf="!data.sold" mat-list-item (click)="sold($event)">
    <span mat-line>Sold</span>
    <span mat-line>Mark your item as sold</span>
  </a>

  <a mat-list-item (click)="edit()">
    <span mat-line>Edit</span>
    <span mat-line>Edit your item.</span>
  </a>

  <a mat-list-item (click)="deleteItem()">
    <span mat-line>Delete</span>
    <span mat-line>Delete your item.</span>
  </a>
</mat-nav-list>
