<div class="dialog-container">
  <div  class="dialog-content-inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createForm">
      <h2>State/condition</h2>
      <mat-form-field>
        <mat-label>Condition</mat-label>
        <mat-select [formControl]="condition">
          <mat-option>None</mat-option>
          <mat-option  value="0">New</mat-option>
          <mat-option  value="1">Used</mat-option>
        </mat-select>
        <mat-error *ngIf="condtionF.invalid">{{getConditionErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <div>
    <button mat-button (click)="previous()">Previous</button>
    <button type="submit" class="mat-accent" mat-stroked-button cdkFocusInitial [disabled]="!form.valid" form="createForm">Next</button>
  </div>
  </div>
</div>
