.top-part {
  display: flex;
  height: 80px;
  line-height: 38px;

  button {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 25px;
  }

  p {
    font-style: normal;
    margin-top: 22px;
    margin-left: 20px;
    overflow: hidden;
    display: none;
  }
}

#date {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  * {
    margin-left: 5px;
    margin-right: 5px;
  }

  .carousel-container {
    width: 100%;
    background-color: #EEEEEE;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;

    app-carousel {
      width: 310px;
      overflow: hidden;
      margin: auto !important;
    }
  }

  .bottom-part {
    margin-bottom: 100px;
  }

  .contact {
    display: flex;
    justify-content: space-between;

    button {
      height: 45px;
      min-width: 120px;
    }
  }


  .description {
    width: 90%;
    min-height: 200px;
  }

  .bidding {
    width: 90%;
    margin-bottom: 20px;
    min-height: 200px;

    .bidding-header {
      display: flex;
      justify-content: space-between;

      button {
        height: 40px;
      }

      p {
        font-size: 13px;
      }
    }

    table {
      min-width: 100%;
      min-height: 80px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 425px) {
  #date {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  app-carousel {
    width: 365px;
    min-width: 365px;
    margin: auto !important;
  }
}

@media screen and (min-width: 400px) {
  app-carousel {
    width: 390px;
    min-width: 390px;
    margin: auto !important;
  }
}

@media screen and (min-width: 425px) {
  app-carousel {
    width: 415px;
    min-width: 415px;
    margin: auto !important;
  }
}

@media screen and (min-width: 768px) {
  app-carousel {
    width: 620px;
    min-width: 620px;
    margin: auto !important;
  }

  .top-part {
    p {
      display: inline-block;
    }
  }

  .bidding {
    max-width: 45%;
    display: inline-block;
    margin-right: 40px;
    vertical-align:top;
  }

  .description {
    max-width: 45%;
    display: inline-block;
    vertical-align:top;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-bottom: 10px;

    h2 {
      margin-bottom: 5px;
    }
  }

  .main-container {
    max-width: 1000px;
    margin: auto;
  }

  app-carousel {
    margin: auto !important;
  }
}


/*.top-part {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 80px;
  display: flex;

  button {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 25px;
  }

  h2 {
    font-style: normal;
    margin-top: 25px;
    margin-left: 20px;
  }
}
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .content {
      height: 100%;
      width: 90%;
      max-width: 1100px;

      .bottom-part {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        .description {
          width: 50%;
        }

        .bidding {
          width: 50%;

          table {
            min-width: 100%;
            min-height: 80px;
            margin-top: 15px;
          }
        }
      }
    }
  }

  .header {
    min-height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    h2{
      min-width: 600px;
    }

    p {
      text-align: center;
      width: 100px;
    }

    .contact {
      margin-top: 12px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }

  }

 @media only screen and (max-width: 600px) {
   .bottom-part {
     display: block !important;
   }

   .description {
     width: 100% !important;
   }

   .bidding {
     width: 100% !important;
   }
 }

 .clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
 .clearfix { display: inline-block; }*/


