<div *ngIf="(itemLoaded && bidsLoaded)" class="top-part">
  <button (click)="goBack()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
  <p>{{item.title  | titlecase}}</p>
</div>
<mat-divider></mat-divider>
<div *ngIf="(itemLoaded && bidsLoaded)" class="main-container">
  <div class="content">
    <div class="header">
      <h2>{{item.title | titlecase}}</h2>
      <div class="contact">
        <p><strong>{{item.price | currency:'EUR':true}}</strong></p>
        <p id="date">Posted: {{item.dateCreated | date}}</p>
        <button mat-stroked-button (click)="viewProfile()">Contact seller</button>
      </div>
    </div>

    <div class="carousel-container">
      <app-carousel [images]="item.image"></app-carousel>
    </div>


    <div class="bottom-part clearfix">
      <div class="description">
        <h3>Description</h3>
        <div [innerHTML]="item.description ? item.description : 'No description provided.' | safeHtml">

        </div>
      </div>
      <div *ngIf="item.biddingAllowed" class="bidding">
        <h3>Bidding</h3>
        <div class="bidding-header">
          <button mat-stroked-button class="mat-accent" (click)="openBiddingDialog()">Place bid</button><p>Minimum bid: {{item.biddingMinimum}} &euro;</p>
        </div>

        <table mat-table [dataSource]="biddingData" class="mat-elevation-z1">

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Bidder </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <p *ngIf="biddingData.length === 0">Be the first to place a bid.</p>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="!(itemLoaded && bidsLoaded) || isLoading" [overlay]="overlay"></app-loading>
