<div *ngIf="filtersLoaded | async" class="container">
  <div class="top-part">
    <button routerLink="/login" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
  </div>
  <mat-card>
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="fname" required>
        <mat-error *ngIf="fname.invalid">{{getFNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="name" required>
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="tel" matInput placeholder="Phone" formControlName="phone" required>
        <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-group-divider">
        <input type="password" matInput placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Street" formControlName="street" required>
        <mat-error *ngIf="street.invalid">{{getStreetErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nr" formControlName="number" required>
        <mat-error *ngIf="number.invalid">{{getNumberErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Province</mat-label>
        <mat-select formControlName="province">
          <mat-option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" required>
        <mat-error *ngIf="city.invalid">{{getCityErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="actions">
        <button type="button" mat-button routerLink="/login">Login</button>
        <button class="mat-accent" #submit [disabled]="!registerForm.valid" type="submit" mat-stroked-button >
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i><span *ngIf="!isLoading">Register</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
<app-loading *ngIf="!filtersLoaded"></app-loading>
