.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;

  .top-part {
    height: 80px;
    width: 100%;

    button {
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  mat-card {
    width: 290px;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    vertical-align: center;
    margin-top: initial;

    h2 {
      text-align: center;
    }

    form {
      width: 90%;
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-left: 10px;

      mat-form-field {
        display: block;
        margin: auto;
        width: 100%;
      }

      mat-slide-toggle {
        margin-left: 0;
        flex-basis: 100%;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 20px;

        button {
          margin-left: 5px;
          width: 80px;
        }
      }

    }
  }
}

.alert-danger {
  color: #cc0033;
  margin: 0;
}

.form-group-divider {
  margin-bottom: 40px;
}

.spinner {
  width: 32px;
  height: 35px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: -5px;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #6b390d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

@media screen and (min-width: 375px) {
  mat-card {
    width: 340px !important;
  }
}

@media screen and (min-width: 425px) {
  mat-card {
    width: 380px !important;
  }
}

@media screen and (min-width: 1024px) {
  mat-card {
    width: 500px !important;
  }
}
