.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;

  .top-part {
    height: 80px;
    width: 100%;

    button {
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  mat-card {
    width: 290px;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    vertical-align: center;
    margin-top: initial;

    h2 {
      text-align: center;
    }

    form {
      width: 95%;
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      mat-form-field {
        display: block;
        margin: auto;
        width: 100%;
      }

      mat-slide-toggle {
        margin-left: 0;
        flex-basis: 100%;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &.actions {
          margin-top: 10px;
        }

        button {
          margin-left: 5px;
          width: 80px;
        }
      }

      .recover {
        a {
          color: black;
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }

        p {
          width: 40%;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  mat-card {
    width: 340px !important;
  }
}

@media screen and (min-width: 425px) {
  mat-card {
    width: 380px !important;
  }
}


