<div *ngIf="filtersLoaded | async" class="container">
  <div class="top-part">
    <button (click)="back()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
  </div>
  <mat-card>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
      <mat-slide-toggle class="mat-primary" formControlName="remember">Remember me</mat-slide-toggle>
      <div class="actions">
        <button type="button" mat-button routerLink="/register">Register</button>
        <button class="mat-accent" #submit [disabled]="!loginForm.valid" type="submit" mat-stroked-button autofocus><i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i><span *ngIf="!isLoading">Login</span></button>
      </div>
      <div class="recover">
        <p>or</p>
      </div>
      <div class="recover">
        <a routerLink="/recover/mail" >Forgotten password?</a>
      </div>
    </form>
  </mat-card>
</div>
<app-loading *ngIf="!filtersLoaded"></app-loading>

