<app-loading *ngIf="!filtersLoaded"></app-loading>
<div class="main" *ngIf="filtersLoaded | async">
  <div class="top-part">
    <button routerLink="/" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
    <h2>My Favorites</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <a *ngIf="items.length === 0">You have no favorite items yet.</a>
    <app-item *ngFor="let item of items" [item]="item" (unfavored)="removeItem($event)"></app-item>
  </div>
</div>
