.main {
  width: 100%;
  margin-bottom: 100px;
}

mat-divider {
  grid-column-start: 1;
  grid-column-end: 4;
  height: auto;
}

.content {
  margin-top: 25px;
  min-width: 275px;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;

  a {
    display: block;
    text-align: center;
    width: 100%;
  }
}

app-item {
  max-width: 275px;
  min-width: 275px;
  margin: auto;
  margin-top: initial;
  margin-bottom: 15px;
}

.top-part {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 80px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: relative;

  button {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 25px;
  }

  h2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 15px;
    font-size: 20px;
  }
}

@media screen and (min-width: 375px) {
  .content {
    min-width: 300px;
  }

  app-item {
    max-width: 300px;
    min-width: 300px;
  }
}

@media screen and (min-width: 425px) {
  .content {
    min-width: 325px;
  }

  app-item {
    max-width: 325px;
    min-width: 325px;
  }
}

@media screen and (min-width: 700px) {
  app-item {
    margin-left: 15px;
    margin-right: initial;
  }
}

@media screen and (min-width: 900px) {
  .top-part {
    h2 {
      top: 12px !important;
      font-size: 25px !important;
    }
  }
}

