.actions {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

a {
  margin-bottom: 5px;
  color: black;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.email, .tel {
  text-decoration: underline;
}

p a {
  display: block;
  word-wrap: break-word;
}

#main {
  text-align: center;
}

:host {display: block}

@media screen and (min-width: 375px) {
  #main {
    width: 252px;
  }
}

@media screen and (min-width: 425px) {
  #main {
    width: 292px;
  }
}

@media screen and (min-width: 768px) {
  #main {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  #main {
    width: 400px;
  }
}
