<div id="main">
  <div mat-dialog-content>
    <h2>{{data.fname}} {{data.name}}</h2>
    <p>Email: <a id="email" href="mailto:{{data.email}}">{{data.email}}</a></p>
    <p>Tel: <a id="tel" href="tel:{{data.phone}}">{{data.phone}}</a></p>
    <p>Location: <a href="https://maps.google.com/?q={{data.addresses[0].province}}">{{data.addresses[0].province}}</a></p>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</div>
