@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$ib-brand-primary: (
  50 : #f3f9ed,
  100 : #e1f0d1,
  200 : #cee6b2,
  300 : #badb93,
  400 : #abd47c,
  500 : #9ccc65,
  600 : #94c75d,
  700 : #8ac053,
  800 : #80b949,
  900 : #6ead37,
  A100 : #fcfff9,
  A200 : #e0ffc6,
  A400 : #c3ff93,
  A700 : #b5ff7a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ib-brand-accent: (
  50 : #ecf6fe,
  100 : #d1e9fc,
  200 : #b2dafb,
  300 : #93cbf9,
  400 : #7bc0f7,
  500 : #64b5f6,
  600 : #5caef5,
  700 : #52a5f3,
  800 : #489df2,
  900 : #368def,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d1e6ff,
  A700 : #b8d8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-primarydarkcolor: (
  50 : #edf3e7,
  100 : #d3e1c3,
  200 : #b5cd9b,
  300 : #97b973,
  400 : #81aa55,
  500 : #6b9b37,
  600 : #639331,
  700 : #58892a,
  800 : #4e7f23,
  900 : #3c6d16,
  A100 : #c9ffa6,
  A200 : #abff73,
  A400 : #8cff40,
  A700 : #7cff26,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondarycolor: (
  50 : #ecf6fe,
  100 : #d1e9fc,
  200 : #b2dafb,
  300 : #93cbf9,
  400 : #7bc0f7,
  500 : #64b5f6,
  600 : #5caef5,
  700 : #52a5f3,
  800 : #489df2,
  900 : #368def,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d1e6ff,
  A700 : #b8d8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);





// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($ib-brand-primary);
$candy-app-accent:  mat-palette($ib-brand-accent);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);


// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($md-primarydarkcolor);
$dark-accent:  mat-palette($md-secondarycolor);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

body {
  margin: 0;
}

@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
}

app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
}

@import "w3.css";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@import "spinner.css";
