<div class="dialog-container">
  <div  class="dialog-content-inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createForm">
      <h2>Price (&euro;)</h2>
      <mat-form-field id="price">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price">
        <mat-error *ngIf="price.invalid">{{getPriceErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <div>
      <button mat-button (click)="previous()">Previous</button>
      <button type="submit" class="mat-accent" mat-stroked-button cdkFocusInitial [disabled]="!form.valid" form="createForm">Next</button>
    </div>
  </div>
</div>
