<mat-card class="example-card">
  <img mat-card-image src="{{ resourceUrl + item.image[0].name}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <strong>$ {{item.price}}</strong>
    <p class="title">{{ (item.title.length > 31) ? ((item.title | slice:0:31) + '...') : item.title | titlecase}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="favorite-container">
      <button *ngIf="authService.currentUserValue" (click)="toggleFavorite()" mat-button class="mat-accent" ><mat-icon *ngIf="!isFavorite">favorite_border</mat-icon><mat-icon *ngIf="isFavorite">favorite</mat-icon></button>
    </div>
    <div class="view-container">
      <button routerLink="/item/{{item.id}}" mat-stroked-button class="mat-accent" >VIEW</button>
    </div>
  </mat-card-actions>
</mat-card>
