:host {
  display: block;
}

.example-card {

  img {
    height: 190px;
    object-fit: scale-down;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    background-color: #EEEEEE;
  }

  mat-card-actions {
    display: flex;

    div {
      width: 50%;

      &.view-container {
        display: flex;
        justify-content: flex-end;
      }
    }

    button {
      display: inline-block;
    }
  }
}
