<mat-sidenav-container class="filter-container">
  <mat-sidenav [fixedInViewport]="true" mode="over" #sidenav [(opened)]="opened">
    <mat-nav-list>
      <div>
        <h2>Filter  </h2>
        <button mat-icon-button><mat-icon (click)="sidenav.toggle()">close</mat-icon></button>
      </div>
      <div class="filter-content">
        <mat-form-field>
          <input #searchInput matInput placeholder="Search term...">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Condition</mat-label>
          <mat-select [(ngModel)]="selectedCondition">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let condition of conditions" [value]="condition.value">{{condition.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input #minValue type="number" placeholder="Minimum price" matInput>
        </mat-form-field>
        <mat-form-field>
          <input #maxValue type="number" placeholder="Maximum price" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Province</mat-label>
          <mat-select [(ngModel)]="selectedProvince">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let province of provinces" [value]="province.name">{{province.id}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button class="mat-accent" mat-stroked-button (click)="filterOnSearch()">Apply</button>
        <button mat-button (click)="clear()">Clear</button>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="filtersLoaded | async">
    <div class="top-part">
      <p><button class="filter-btn mat-accent" mat-button mat-stroked-button (click)="sidenav.toggle()">Filter</button></p>
    </div>
    <mat-divider></mat-divider>
    <h2>{{itemsFound}} item(s) have been found.</h2>
    <div class="items-container">
      <app-item *ngFor="let item of visibleItems" [item]="item"></app-item>
    </div>
    <mat-paginator id="bottom" [pageIndex]="pageIndex" [length]="pageLength"  [pageSize]="pageSize" (page)="pageEvent($event)"></mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-loading *ngIf="!filtersLoaded || isLoading" [overlay]="overlay" [message]="message"></app-loading>


