:host {
  display: block;
}

.filter-container {
  width: 100vw;
  height: auto;
  background: #eee;

  .filter-content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    * {
      margin-left: 15px;
      margin-right: 15px;
    }

    button:first-of-type {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

mat-sidenav {
  width: 300px;
}

mat-nav-list {

  div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      text-align: left;
      height: 40px;
      margin: 0;
      line-height: 40px;
    }

    button {
      margin-left: 120px;
    }
  }
}

.top-part {
  width: 100%;
  height: 81px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;

  .filter-btn {
    margin-left: 15px;
  }
}

.items-container {
  min-height: 60vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  vertical-align: top;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;

  app-item {
    max-width: 300px;
    min-width: 300px;
    margin: auto;
    margin-top: initial;
    margin-bottom: 15px;
  }
}

#bottom {
  margin-bottom: 70px;
  bottom: 0;
}

mat-sidenav-content h2 {
  margin-left: 14px;
}

@media screen and (min-width: 375px) {
  app-item {
    max-width: 325px !important;
    min-width: 325px !important;
  }
}

@media screen and (min-width: 425px) {
  app-item {
    max-width: 325px !important;
    min-width: 325px !important;
  }
}


@media screen and (min-width: 660px) {
  app-item {

    margin-left: 15px !important;
    margin-bottom: 15px !important;
    margin-right: initial !important;
  }
}

@media screen and (min-width: 1024px) {
  app-item {

    margin-left: 15px !important;
    margin-bottom: 15px !important;
    margin-right: initial !important;
  }
}


