<owl-carousel [options]="carouselOptions" [items]="avatars" [carouselClasses]="['owl-theme', 'row', 'sliding', 'owl-loaded']">
  <div class="item" *ngFor="let image of avatars;let i= index">
    <img class="slide-image" src="{{resourceUrl + image.url}}" >
    <div class="slide-text">
      <h4>{{image.title}}</h4>
    </div>
  </div>
</owl-carousel>

