<div class="dialog-container">
  <div  class="dialog-content-inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createForm">
      <h2>Allow bidding on your items?</h2>
      <mat-slide-toggle #biddingAllowed (click)="toggle()" class="mat-primary">Bidding allowed</mat-slide-toggle>
      <mat-form-field>
        <mat-label>Bidding minimum</mat-label>
        <input [readonly]="!biddingAllowed.checked" [hidden]="!biddingAllowed.checked" type="number" matInput formControlName="biddingMinimum">
        <mat-error *ngIf="bidding.invalid">{{getBiddingErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <div>
      <button mat-button (click)="previous()">Previous</button>
      <button type="submit" class="mat-accent" mat-stroked-button cdkFocusInitial [disabled]="!form.valid" form="createForm">Next</button>
    </div>
  </div>
</div>
