<div class="dialog-container">
  <div  class="dialog-content-inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createForm">
      <h2>Title</h2>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="title.invalid">{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions id="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button type="submit" class="mat-accent" mat-stroked-button cdkFocusInitial [disabled]="!form.valid" form="createForm">Next</button>
  </div>
</div>
